[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {version = "*", extras = ["standard"]}
jupyter = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = {extras = ["torch"], version = "*"}
fastapi = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
